/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
}
#wrapper {
}
#header {
  position: fixed;
  background-color: #000;
  height: 46px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#nav {
  /* Để nó chỉ bao phủ thằng nav */
  display: inline-block;
}
#nav li {
  display: inline-block;
  position: relative;
}
#nav li a {
  display: block;
  color: #fff;
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
}
#nav > li:hover > a,
#nav .subnav li:hover a {
  color: #000;
  background-color: #ccc;
}
#nav .subnav {
  /* min-width: 160px; */
  display: none;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

#nav li:hover .subnav {
  display: block;
}
#nav .subnav a {
  color: #000;
  padding: 0 12px;
  height: 38px;
  min-width: 160px;
}
#nav .subnav li {
  display: block;
}

.nav-down-icon {
  font-size: 12px;
}

#header .search-icon {
  font-size: 16px;
  color: #fff;
}
#header .search-btn {
  line-height: 46px;
  float: right;
  padding: 0 23px;
}
#header .search-btn:hover {
  background-color: #f44336;
  cursor: pointer;
}

#slider {
  margin-top: 46px;
  padding-top: 50%;
  background: url(/assets/img/slider/chicago.jpg) top center / cover no-repeat;
  position: relative;
}
#slider .text-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 48px;
  color: white;
}
#slider .text-heading h2 {
  font-weight: 200;
  font-size: 24px;
}
#slider .text-description {
  margin-top: 22px;
  font-size: 15px;
}

#content {
  background-color: #999;
  height: 1000px;
}
#footer {
}
