/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
}

/* 
 Từ ngoài vào trong 
 Từ trên xuống dưới
 Tổng quan đến chi tiết
*/
/* 
1. Vi trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng (kiểu chử, tròn, vuông, tam giác, ...)
 */

.text-white {
  color: #fff !important;
}
#main {
  margin: 0;
}

#nav {
  display: inline-block;
}
#nav,
.subnav {
  list-style-type: none;
}

#nav > li {
  display: inline-block;
}
#nav li {
  position: relative;
}

#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}
#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}
/* Nên đặt vào thẻ li thay vì a */
#nav > li:hover > a,
#nav .subnav li:hover a {
  color: #000;
  background-color: #ccc;
}

#nav li:hover .subnav {
  display: block;
}

#nav .subnav {
  min-width: 160px;
  display: none;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

#nav .subnav a {
  color: #000;
  padding: 0 12px;
  height: 38px;
}
.nav-arrow-down {
  font-size: 12px;
}
#header {
  height: 46px;
  background-color: #000;
  /* Cố định headr trên top
  Khi thêm positon fixed thì thẻ div header mắt tính chất width full màn hình nền dùng thẻ right để nó sát vách phải
  */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#header .search-btn {
  float: right;
  line-height: 46px;
  padding: 0 21px;
}
#header .search-icon {
  color: #fff;
  font-size: 15px;
}
#header .search-btn:hover {
  background-color: #f44336;
  cursor: pointer;
}

#slider {
  /* Bằng % tỷ lệ theo chiều ngang */
  padding-top: 50%;
  margin-top: 46px;
  background: url(/assets/img/slider/chicago.jpg) top center / cover no-repeat;
  position: relative;
}
#slider .text-content {
  position: absolute;
  margin-bottom: 47px;
  color: white;
  bottom: 0;
  /*Cách 1: thuộc tính left transform và left dùng để căng giữa */
  /* transform: translateX(-50%);
  left: 50%; */
  /* Cách 2: dùng width: 100% và text-align: center */
  /* width: 100%;
  text-align: center; */
  /* Cách 3: dùng left: 0 và right: 0 giống cách kéo thanh nav full width*/
  left: 0;
  right: 0;
  text-align: center;
}
#slider .text-description {
  margin-top: 25px;
  font-size: 15px;
}

#slider .text-heading h2 {
  font-weight: 200;
  font-size: 24px;
}

#content {
  height: 2000px;
  background-color: #fff;
}
#content .section-content {
  width: 800px;
  /* Căn giữa */
  margin-left: auto;
  margin-right: auto;
  padding: 64px 0;
}

#content .section-heading {
  font-size: 30px;
  text-align: center;
  font-weight: 200;
  margin: 10px 0;
  letter-spacing: 4px;
}
#content .section-sub-heading {
  font-size: 15px;
  text-align: center;
  margin: 15px 0;
  opacity: 0.6;
}

#content .about-text {
  font-size: 15px;
  text-align: justify;
  line-height: 1.4;
}

#content .member-list {
  margin-top: 48px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-around;
}

#content .member-item {
  text-align: center;
}

#content .member-name {
  font-size: 15px;
  margin: 15px 0;
}
#content .member-avatar {
  width: 154px;
  border-radius: 5px;
}

/* Tour section */
.tour-section {
  background-color: black;
}

.ticker-list {
  background-color: white;
  list-style-type: none;
  margin: 0 16px;
}

.ticker-list li {
  color: #757575;
  font-size: 15px;
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
}
.ticker-list .sold-out {
  background-color: #f44336;
  color: #fff;
  padding: 0 8px;
  margin: 0 16px;
}
.ticker-list .quantity {
  /* thẻ inline mà có float vào là thàng block và có thể margin âm và width, height  */
  float: right;
  margin-top: -3px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  background-color: black;
  color: white;
}

.places-list {
  margin: 32px 8px;
  display: flex;
  justify-content: space-around;
}
.places-item {
  width: 260px;
  height: 386px;
  padding: 0 8px;
}
.places-img {
  width: 100%;
  display: block;
}
.places-img:hover {
  opacity: 0.7;
}
.places-body {
  background-color: #fff;
  padding: 0.16px 16px;
  font-size: 15px;
  margin-bottom: 8px;
}
.places-name {
  padding: 12px 0;
}
.places-time {
  padding: 12px 0;
  color: #757575;
}
.places-content {
  padding: 12px 0;
  line-height: 1.4;
}
.ticket-buy-btn {
  margin: 0 0 16px;
  padding: 8px 16px;
  display: flex;
  width: 110px;
  height: 39px;
  background-color: #000;
  text-decoration: none;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.ticket-buy-btn:hover {
  color: #000;
  background-color:#ccc;
}

#footer {
}
