/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
}

.text-white {
  color: #fff;
}
#wrapper {
}
#header {
  position: fixed;
  background-color: #000;
  height: 46px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#nav {
  /* Để nó chỉ bao phủ thằng nav */
  display: inline-block;
}
#nav li {
  display: inline-block;
  position: relative;
}
#nav li a {
  display: block;
  color: #fff;
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
}
#nav > li:hover > a,
#nav .subnav li:hover a {
  color: #000;
  background-color: #ccc;
}
#nav .subnav {
  /* min-width: 160px; */
  display: none;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

#nav li:hover .subnav {
  display: block;
}
#nav .subnav a {
  color: #000;
  padding: 0 12px;
  height: 38px;
  min-width: 160px;
}
#nav .subnav li {
  display: block;
}

.nav-down-icon {
  font-size: 12px;
}

#header .search-icon {
  font-size: 16px;
  color: #fff;
}
#header .search-btn {
  line-height: 46px;
  float: right;
  padding: 0 23px;
}
#header .search-btn:hover {
  background-color: #f44336;
  cursor: pointer;
}

#slider {
  margin-top: 46px;
  padding-top: 50%;
  background: url(/assets/img/slider/chicago.jpg) top center / cover no-repeat;
  position: relative;
}
#slider .text-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 48px;
  color: white;
}
#slider .text-heading h2 {
  font-weight: 200;
  font-size: 24px;
}
#slider .text-description {
  margin-top: 22px;
  font-size: 15px;
}

#content {
  background-color: #999;
  height: 2000px;
}

#content .section-content {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 16px;
}
#content .section-heading {
  font-size: 30px;
  margin: 10px 0;
  letter-spacing: 2px;
  font-weight: 100;
  text-align: center;
}
#content .section-sub-heading {
  font-size: 15px;
  margin: 15px 0;
  text-align: center;
  opacity: 0.7;
}
#content .about-text {
  text-align: justify;
  margin-bottom: 15px;
  line-height: 1.4;
}

#content .member-list {
  margin: 32px 0;
  display: flex;
  justify-content: space-around;
}
#content .member-item {
  text-align: center;
}
#content .member-name {
  margin: 15px 0;
  font-size: 15px;
}
#content .member-avatar {
  width: 154px;
  margin-bottom: 16px;
}

.tour-section {
  background-color: #000;
}

.ticket-list {
  background-color: #fff;
  font-size: 15px;
  list-style-type: none;
  margin: 0 10px;
}
.ticket-list li {
  color: #888;
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
}
.ticket-list .sold-out {
  background-color: #f44336;
  color: #fff;
  padding: 0 8px;
  margin: 0 16px;
}
.ticket-list .quantity {
  color: #fff;
  float: right;
  background-color: #000;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  margin-top: -3px;
}
.card-list {
  display: flex;
  justify-content: space-around;
  padding: 32px 0;
}
.card-ticket {
  width: 245px;
  padding: 0px 4px;
  margin: 0 0 16px;
  font-size: 15px;
}
.card-iamge {
  width: 100%;
  display: block;
}
.card-iamge:hover {
  opacity: 0.7;
}

.card-body {
  background-color: #fff;
  padding: 0.15px 16px;
}
.card-title {
  line-height: 22.5px;
  margin: 15px 0;
}
.card-time {
  line-height: 22.5px;
  margin: 15px 0;
  opacity: 0.5;
}
.card-content {
  line-height: 22.5px;
  margin: 15px 0;
}
.ticket-buy-btn {
  line-height: 22.5px;
  display: flex;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  width: 110px;
  height: 40px;
  text-align: center;
  align-items: center;
  padding: 8px 16px;
  margin-bottom: 16px;
}

.ticket-buy-btn:hover {
  color: #000;
  background-color: #ccc;
}

#footer {
}

